* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #2542d875;
    color: #ffffff;
    padding: 20px;
    border-radius: 110px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 0 auto;
}

section img {
    width: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.section-img {
    max-height: 600px;
    object-fit: fill;
}

.section-class {
    display: flex;
    align-items: center;
}

.section-class {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 20px;
}

.class-nav ul li {
    display: flex;
    padding: 5px;
}

.section-class-person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-class-person ul {
    display: flex;
}

.section-class-person ul li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.section-class-person img {
    max-width: 150px;
    border-radius: 180px;
}

.section-classtext {
    display: flex;
    flex-direction: row
}

.section-class-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}

.card img {
    max-width: 200px;
    border-radius: 100px;
}


/* ### RENDER INDEX.JS ###*/

.card-dev {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-dev {
    width: 100px;
}

.info-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-dev {
    width: 100px;
    border-radius: 50px;
}




/* MEDIAQUIERIES */
@media screen and (max-width: 768px) {
    .section-class {
        display: flex;
        flex-direction: column;
    }

    .section-class img {
        max-width: 300px;
    }

    nav ul li {
        max-width: 0 auto;
    }

    .proyectos-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section-class-person ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-class-person ul img {
        max-width: 146px;
        flex-wrap: wrap;
    }

}